.cart-drawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.cart-drawer.open {
  transform: translateX(0);
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

.cart-items {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.cart-item-image {
  width: 50px;
  height: auto;
  margin-right: 20px;
}

.cart-item-info {
  flex: 1;
}

.cart-item-info h3 {
  margin-bottom: 10px;
}

.cart-item-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cart-item-details p {
  margin: 0;
}

.cart-item-quantity {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.cart-item-quantity button {
  padding: 5px 10px;
  margin: 0 5px;
}

.cart-item-quantity span {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.delete-button {
  padding: 5px 10px;
  background-color: darkgray;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: black;
}

.cart-footer {
  padding: 20px;
  border-top: 1px solid #ccc;
}

.cart-footer p {
  margin-bottom: 10px;
}

.cart-footer button {
  padding: 10px 110px;
  background-color: darkgray;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cart-footer button:hover {
  background-color: black;
}