/* filepath: /frontend/src/components/Signup.css */
.signup-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f9f9f9;
    margin-top: -220px;
  }
  
  .signup-page h2 {
    margin-bottom: 20px;
  }
  
  .signup-page form {
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  
  .signup-page input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .signup-page button {
    padding: 10px;
    font-size: 16px;
    background-color: darkgray;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .signup-page button:hover {
    background-color: black;
  }
  
  .signup-page p {
    margin-top: 10px;
  }
  
  .signup-page a {
    color: #007bff;
    text-decoration: none;
  }
  
  .signup-page a:hover {
    text-decoration: underline;
  }